body {
	background-color: #ebe9ea;
}

h1 {
	color: #000000;
	height: 100%;
  	width: 100%;
  	display: flex;
  	position: centered;
  	align-items: center;
  	justify-content: center;
}

h5 {
	color: #ff0000
}

p {
	color: #000000;
	
	}

